<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">


  <title>Profile edit</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">

    #b{
      background-image: url("{% static 'pexels-pixabay-248747.jpg' %}");
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
      font-family: 'Times New Roman', Times, serif;
    }

    .nav-pills>li.active>a,
    .nav-pills>li.active>a:hover,
    .nav-pills>li.active>a:focus {
      color: #fff;
      background-color: #5bc0de;
    }

    .prj-name {
      font-weight: bold;
      color: #5bc0de;
    }

    #m1 {
      width: 200px;
      border: 4px solid #f3f3f3;
    }
  </style>
</head>

<body id="b">
  <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <div class="container bootstrap snippets bootdey" >


      <div class="col-md-10 col-md-offset-2">
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">{% csrf_token %}
          <div class="form-group text-center">
            <div class="col-sm-10 reg-icon">
             <img src="{% static image %}" class="img-circle profile-avatar" alt="User avatar"
                id="m1">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <label >Profile Picture</label>
              <input type="file" class="form-control" id="profilepicture" name="profilepicture" >
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <label for="">FULL NAME</label>
              <input type="text" class="form-control" id="name" placeholder="Name" name="fullname" value="{{data.fullname}}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <label for="">USERNAME</label>
              <input type="text" class="form-control" id="name" placeholder="Username" name="username" value="{{data.username}}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <label for="">COMPANY NAME</label>
              <input type="text" class="form-control" id="name" placeholder="Company name" name="companyname" value="{{data.companyname}}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <label for="">COMPANY EMAIL</label>
              <input type="email" class="form-control" id="inputEmail3" placeholder="Email" name="email" value="{{data.companyemail}}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <label >COMPANY PHONE</label>
              <input type="tel" class="form-control" placeholder="Phone" name="phone" value="{{data.companyphone}}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <label >COMPANY ADDRESS</label>
              <input type="text" class="form-control" placeholder="Address" name="address" value="{{data.companyaddress}}">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-info">
                <span class="glyphicon glyphicon-share-alt"></span>
                Update
              </button>
            </div>
          </div>
        </form>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>
</body>

</html>